/* Imports */
@font-face {
  font-family: "Karla";
  src: url('./assets/fonts/Karla-VariableFont_wght.ttf');
}

/* General Rules */
html {
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

body {
  background-color: hsl(148, 38%, 91%);
  font-family: "Karla", sans-serif;
}

/* .btn {
  outline: none;
  border: none;
} */

/* Contact Form */
.contact-form {
  width: 90%;
  max-width: 800px;
  background-color: hsl(0, 0%, 100%);
  margin-top: 100px;
}

.contact-form .btn {
  background-color: hsl(169, 82%, 27%);
  color: hsl(0, 0%, 100%);
}

/* Attribution */
.attribution {
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}