/* Imports */
@font-face {
  font-family: "Karla";
  src: url('./assets/fonts/Karla-VariableFont_wght.ttf');
}

/* General Rules */
html {
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

body {
  background-color: hsl(148, 38%, 91%);
  font-family: "Karla", sans-serif;
}

label.required::after {
  content: '*';
  color: hsl(169, 82%, 27%);
  margin-left: 0.25em;
}

textarea {
  resize: none;
  height: 100px;
}

textarea,
.radio-btn,
input[type=text],
input[type=email] {
  border-radius: 0.5em;
  border: 1px solid hsl(186, 15%, 59%);
  width: 100%;
  padding: 0.5em 1em;
  outline: none;
}

input.error,
textarea.error {
  border-color: hsl(0, 66%, 56%);
}

p.error {
  color: hsl(0, 66%, 56%);
}

/* Contact Form */
.contact-form {
  width: 90%;
  max-width: 800px;
  background-color: hsl(0, 0%, 100%);
  margin: 100px auto 0;
}

.contact-form h2 {
  color: hsl(187, 24%, 22%);
  font-weight: 700;
}

.consent {
  position: relative;
}

.checkmark,
.checkbox,
input[type=checkbox] {
  width: 1em;
  height: 1em;
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
}

input[type=checkbox] {
  z-index: 2;
  opacity: 0;
}

.checkmark {
  border: 1px solid black;
  border-radius: 2px;
}

.checkbox {
  z-index: 1;
  transform: translate(-1px, -50%);
}

.contact-form .btn {
  background-color: hsl(169, 82%, 27%);
  color: hsl(0, 0%, 100%);
}

.success-message {
  position: fixed;
  top: 50px;
  left: 50%;
  transform: translateX(-50%);
  background-color: hsl(187, 24%, 22%);
  color: hsl(0, 0%, 100%);
  padding: 1.5em 2em;
  border-radius: 1em;
  transition: opacity 0.5s;
  opacity: 0;
}

.success-message.on {
  opacity: 1;
}

/* Attribution */
.attribution {
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}